@CHARSET "UTF-8";

body {
	background-color: linen;
}



/* EXERCISE 2 */
h2 {
	font-family: "Times New Roman", Times, serif;
}

#special {
	background-color: #dddddd;
	border-width: 1px;
	border-style: dotted;
	border-color: #AAAAAA;
}

.evenRow {
	background-color: #cccccc;
}

ol {
	list-style-type: upper-roman;
}

table, td {
	border: 4px solid black;
	border-collapse: collapse;
	text-align: center;
}

a:hover {
	background-color: hotpink;
}
